@import url('https://fonts.googleapis.com/css?family=Roboto:400,light');

:root{
	--main-yellow: #f5d22a;
	--main-red: #a4161a;
	--main-blue: #004e89;
	--main-green: #a7c957;
	--x-size: 75px;
}

* {
	margin: 0;
	padding: 0;
	font-family: Roboto;
}

body,html {
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
}

#container {
	display: grid;
	width: 100%;
	height: 100%;
	place-items: center;
	grid-template-rows: .5fr 1fr;
}

.option-wrapper > * {
	width: var(--x-size);
	height: var(--x-size);
	border-radius: 50%;
}

.option-wrapper {
	transition: all .3s ease;
}

.option-wrapper.selected {
	transform: scale(1.1);
}

.red {
	background-color: var(--main-red);
}

.blue {
	background-color: var(--main-blue);
}

.yellow {
	background-color: var(--main-yellow);
}

.green {
	background-color: var(--main-green);
}

.swipe-area-wrapper {
	position: relative;
}

.swipe-area-wrapper > img {
	width: 150px;
	height: auto;
}

.swipe-area-wrapper > div {
	position: absolute;
}

.t-red {
	top: calc(-20px - var(--x-size));
	left: calc(50% - (var(--x-size) / 2));
}

.t-blue {
	bottom: calc(-20px - var(--x-size));
	left: calc(50% - (var(--x-size) / 2));
}

.t-yellow {
	left: calc(-20px - var(--x-size));
	top: calc(50% - (var(--x-size) / 2));
}

.t-green {
	right: calc(-20px - var(--x-size));
	top: calc(50% - (var(--x-size) / 2));
}

.list-wrapper {
	width: 100%;
	display: grid;
}

.list-item {
	position: relative;
    display: grid;
    place-content: center;
    column-gap: .3rem;
    grid-template-columns: .5fr 1fr;
    padding: 0.5rem 0;
    margin: 0 15%;
}

.list-item::before {
	content: '';
	position: absolute;
	right: 0;
	bottom: -2px;
	left: 0;
	height: 2px;
	background-color: var(--main-red);
	transform: scaleX(0);
	transform-origin: right;
	transition: transform .3s ease;
}


.list-item.selected::before {
	transform: scaleX(1);
	transform-origin: left;
}

.l-red::before {
	background-color: var(--main-red);
}

.l-blue::before {
	background-color: var(--main-blue);
}

.l-yellow::before {
	background-color: var(--main-yellow);
}

.l-green::before {
	background-color: var(--main-green);
}
